@charset "UTF-8";

// abstracts
@import "abstracts/variables";

// vendors
@import "./vendors/normalize";

// base
@import "./base/reset", "./base/typography";

// components

// layout
@import "./layout/container.scss";

// pages

body {
    background-color: var(--blue-100);
}

.main-container {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.card {
      border-radius: 8px;
      background-color: var(--color-base);
      transition: box-shadow 0.3s ease-in-out;
}

.multiselect{
    z-index: 1;
    &__tags {
        background: transparent!important;
        padding-top: 4px !important;
    }
    &__placeholder {
        color: var(--color-base)!important;
        font-size: 16px;
        padding-left: 8px;
    }
    &__select:before {
        border-color: var(--color-base) transparent transparent !important;
    }
}

.multiselect__tag {
    background: #fff !important;
    color: var(--color-primary-dark) !important;
}

.tabs-component {
    display: flex;

    &-tabs {
        background-color: var(--color-secondary-light);
        width: 300px;
    }

    &-panels {
        border-left: 1px solid rgba(114, 115, 142, 0.2);
        width: calc(100vw - 300px);
        padding: 40px;
        h2 {
            margin-bottom: 24px;
        }
    }

    &-tab {
        border-bottom: 1px solid rgba(114, 115, 142, 0.2);

        a {
            display: block;
            padding: 16px 28px 16px 48px;
        }
        &.is-active {
            background-color: var(--color-base);

            a {
                color: var(--color-primary-dark);
                &:after {
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid #000;
                    border-top: 5px solid transparent;
                    content: "";
                    float: right;
                    margin-top: 8px;
                }
            }
        }
    }
}

.apexcharts-canvas {
    width: 100% !important;

    svg {
        width: 100%;
    }
}

.apexcharts-toolbar {
    top: -48px!important;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
    transform: none!important;
    svg {
        fill: var(--blue-400)!important;
        opacity: 0.3;
    }
    &:hover svg {
        opacity: 1;
    }
}

.charts {
    width: 48%;
}

.chart {
    min-height: 370px;
    margin-bottom: 40px;
    padding: 24px;

    &-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    button {
        margin-bottom: 24px;
    }
}

.view-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
    button {
        background: transparent;
        border: 0;
        opacity: 0.3;
        &:hover,&.active {
            opacity: 1;
     }
    }
}