@charset "UTF-8";

// abstracts
@import "abstracts/variables";

// vendors
@import "./vendors/normalize";

// base
@import "./base/reset", "./base/typography";

// components
@import "./components/loader";

// layout
@import "./layout/container.scss";

// pages

body {
    background-color: var(--blue-100);
}

.main-container {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.card {
      border-radius: 8px;
      background-color: var(--color-base);
      transition: box-shadow 0.3s ease-in-out;
}

.multiselect{
    z-index: 1;
    &__tags {
        background: transparent!important;
        min-height: 42px !important;
        min-width: 169px !important;
        padding-top: 8px !important;
        width: auto !important;
    }
    &__placeholder {
        color: var(--color-base)!important;
        font-size: 16px;
        padding-left: 8px;
    }
    &__select:before {
        border-color: var(--color-base) transparent transparent !important;
    }
}

.multiselect__tag {
    background: #fff !important;
    color: var(--color-primary-dark) !important;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #fff !important;

    &:after {
        color: var(--color-link) !important;
    }
}

.multiselect__option--highlight {
    background-color: var(--blue-400) !important;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #f3f3f3 !important;
    color: #35495e !important;
}

.multiselect__element {
    &:not(:first-child) {
        border-top: 1px solid #e8e8e8;
    }
}

.multiselect__placeholder {
    margin-bottom: 8px !important;
    margin-top: -1px;
    padding-top: 0 !important;
}

.main-scroll {
    padding-top: 74px;
}

.tabs-component {
    display: flex;

    &-tabs {
        background-color: var(--color-base);
        width: 300px;
    }

    &-panels {
        border-left: 1px solid rgba(114, 115, 142, 0.2);
        width: calc(100vw - 300px);
        padding: 24px 40px;
        h2 {
            font-weight: 700;
            margin-bottom: 24px;
        }
    }

    &-tab {
        border-bottom: 1px solid rgba(114, 115, 142, 0.2);

        a {
            display: block;
            padding: 16px 28px 16px 48px;
            position: relative;
        }
        &.is-active {
            background-color: var(--blue-400);

            a {
                color: var(--color-base);
                font-weight: 700;
                &:after {
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid var(--color-base);
                    border-top: 5px solid transparent;
                    content: "";
                    position: absolute;
                    right: 24px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.tabs.fixed {
    .tabs-component-tabs {
        left: 0;
        position: fixed;
        top: 74px;
    }
    .tabs-component-panels {
        margin-left: 300px;
    }
}

.apexcharts-canvas {
    width: 100% !important;

    svg {
        width: 100%;
    }
}

.apexcharts-toolbar {
    top: -48px!important;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
    transform: none!important;
    svg {
        fill: var(--blue-400)!important;
        opacity: 0.3;
    }
    &:hover svg {
        opacity: 1;
    }
}

 .apexcharts-tooltip,
 .apexcharts-tooltip-series-group {
     background-color: var(--color-base)!important;
     border: 1px solid #e3e3e3;
     color: var(--color-primary-dark);
 }

  .apexcharts-tooltip-series-group {
      border: 0;
  }

.chart {
    min-height: 370px;
    margin-bottom: 40px;
    padding: 24px 24px 0;
    position: relative;
    width: 48%;
    .no-data {
        margin-top: 40px;
    }
    &-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    button {
        margin-bottom: 24px;
    }
    &-title {
        justify-content: space-between;
    }
    &-full {
        width: 100%;
    }
}

.view-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
    button {
        background: transparent;
        border: 0;
        opacity: 0.3;
        &:hover,&.active {
            opacity: 1;
     }
    }
}

.loader-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info-cards-section {
    .double-bounce1, .double-bounce2 {
        background-color: white;
    }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    padding: 8px 8px 8px 0 !important;
}

.leaflet-popup-content p {
    margin: 7px 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
    right: 4px !important;
    top: 4px !important;
}